/* Styling for desktop screens */
@media only screen and (min-width: 769px) {
	body {
		padding-top: 380px;
	}
}



/* Styling changes for mobile phone screens */
@media only screen and (max-width : 768px) {
	 body {
		background-image: url('../images/mobile-art/bg-mobile-board.jpg');
		padding-top: 0px;
	}

	#loginWrap {
		color: white;
	}
}